Estilizações - Geral */
html {
	font-size:  16px;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', Arial, sans-serif;
}

img {
	max-width:  100%;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	display: inline-block;
	list-style: none;
}

a {
	color: #000000;
	text-decoration: none;
}

/* Estilizações - Estrutura */

.container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
} 
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 100%; /* For IE 6/7 (trigger hasLayout) */
}

/* Estilizações - Owlcarousel */
.owl-carousel {
	position: relative;
}

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover {
	background-color: transparent;
	background-repeat: no-repeat;
}

.owl-theme .owl-nav .owl-prev {
	left: 0;
	background-image: url("../images/arrow-prev.png");
}

.owl-theme .owl-nav .owl-prev:hover {
	background-image: url("../images/hover-arrow-prev.png");
}

.owl-theme .owl-nav .owl-next {
	right: 0;
	background-image: url("../images/arrow-next.png");
}

.owl-theme .owl-nav .owl-next:hover {
	background-image: url("../images/hover-arrow-next.png");
}

.owl-dots {
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.news-list:hover .owl-dots {
	opacity: 1;
}

/* Estilizações - Header */

.navigation {
	padding: 25px 0;
}

.logo {
	max-width: 200px;
	display: inline-block;
	vertical-align: middle;
}

.logo img {
	width: 100%;
}

.menu-bar {
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	display: inline-block;
	text-align: center;
	z-index: 10;
}

.menu-list .menu-btn {
	display: inline-block;
	width: 110px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding: 5px 0;
}

.link-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 110px;
    z-index: 1000;
    font-weight: normal;
}

.link-list a {
	width: 100%;
	display: block;
	background-color: #d4d4d4;
	text-align: left;
	text-decoration: none;
	color: #000;
}

.link-list a:hover {
	background-color: #a3a3a3;
}

.menu-btn:hover {
	color:  #cc0000;
	background-color: #d4d4d4;
	border-radius: 20px 20px 0 0;
}

.menu-btn:hover .link-list {
	display: block;
}

/* .categories-list {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
 */
.user-menu {
	position: absolute;
	display: none; /* Mudar para inline-block depois de criar os menus em JS*/
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

/* Estilizações - main/news */

.news-list li {
	position: relative;
	overflow: hidden;
}

.news-list p {
	width: 75%;
	margin: 0;
	position: absolute;
	bottom: 15%;
	left: 5%;
	font-size: 48px;
}

.news-list a {
	color: #FFF;
	font-weight: bold;
	text-shadow: 2px 2px #000;
}

.news-list img {
	transition: transform .5s;
}
.news-list a:hover img {
	transform: scale(1.1);
}

.men-women {
	margin: 2% 0;
	padding-bottom: 2%;
	border-bottom: 3px double #000000;
}

.banner-left {
	position: relative;
	float: left;
	max-width: 49%;
}

.banner-left p {
	margin: 0;
	position: absolute;
	bottom: 5%;
	left: 5%;
	font-size: 60px;
}

.banner-left a {
	display: block;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
	overflow: hidden;
}

.banner-left img {
	display: block;
	transition: transform .5s;
}
.banner-left a:hover img {
	transform: scale(1.1);
}

.banner-right {
	position: relative;
	float: right;
	max-width: 49%;
}

.banner-right p {
	margin: 0;
	position: absolute;
	bottom: 5%;
	right: 5%;
	font-size: 60px;
}

.banner-right a {
	display: block;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
	overflow: hidden;
}

.banner-right img {
	display: block;
	transition: transform .5s;
}
.banner-right a:hover img {
	transform: scale(1.1);
}

.trending-items, .on-sale-items h1 {
	text-align: center;
}

.products-area .price, .products-area .old-price {
	display: inline-block;
}

.products-area .old-price {
	color: #ababab;
	text-decoration: line-through;
}

.products-area .product-name {
	font-weight:  bold;
	font-size: 20px;
}

.trending-items {
	margin-top: 2%;
}

.trending, .on-sale {
	font-size: 0;
}

.trending .trending-item, .on-sale .sale-item {
	width: 25%;
	position:  relative;
	display: inline-block;
	font-size: 18px;
	text-align: center;
}

.trending-item img, .sale-item img {
	padding: 10px 10px;
	border-bottom: 5px double #000000;
}

.sold-out a {
	cursor: not-allowed;
}

.sold-out .price, .sold-out .divided-price {
	color: #ababab;
	text-decoration: line-through;
}

.sold-out:before {
	display: block;
	position: absolute;
	content: 'Sold Out';
	font-weight: bold;
	top: 20px;
	color: #FFF;
	background-color: #BD0009;
	padding: 3px 10px;
	width: 80px;
	height: 20px;
}

footer {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 3px double #000000;
}

/* Estilizações - footer */

.footer-nav {
	border-bottom: 1px dotted gray;
}

.copyright {
	text-align: center;
	color: #a3a3a3;
}


/* Estilizações - main/brand-slider */


/* .brand-slider {
	display: inline-block;
	position: relative;
}

.brand-slider img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

} */